@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #ffffff;
  font-size: 16px;
  line-height: 30px;
  color: #231f20;
  
}

h1{
  padding-bottom: 10px;
}

.bold {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.semi_bold {
  font-weight: 500;
  font-size: 20px;
}

.cv_container {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.cv_left {
  width: 30%;
  background: #76cdd8;
  position: relative;
  display: block;
  min-width: 225px;
  margin: auto;
}

.cv_profile {
  width: 100%;
}

.cv_content {
  padding: 10px 25px;
}

.cv_item {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 0;
}

.regular {
  text-transform: none;
}

.cv_right {
  padding: 20px 40px 0 40px;
  position: relative;
  display: block;
  width: 70%;
}

.right_title {
  text-transform: uppercase;
  font-size: 21px;
}

.title_underline {
  height: 5px;
  width: 35px;
  background: #76cdd8;
  margin-bottom: 10px;
}

.code_ex_arrea{
  background: #3d3d41;
  width: 100%;
  padding: 40px 0;
  border: 5px solid #76cdd8
}

.code_text{
  margin-left: 20%;
  margin-right: auto;
  font-size: 19px;

}

.js_keyword{
  color: #C078D9;
}

.footer {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  background: #3d3d41;
  padding: 20px 25px;
  margin: auto;
  color: #ffffff;
  position: relative;
}

.footer_item {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
}

.Education {
  padding-bottom: 15px;
  text-transform: none;
}

.footer_icon {
  width: 70px;
}

.adress {
  text-transform: none;
  font-size: 16px;
  color: #30727a;
}

mark {
  background: #e4e4e4;
}

@media (max-width: 770px) {
  .cv_left {
    width: 100%;
  }

  .cv_profile {
    width: 60%;
    min-width: 320px;
  }

  .cv_content {
    padding: 5px 10px;
  }

  .cv_right {
    padding: 5px 10px;
    width: 100%;
    min-width: none;
  }
}
